body {
  padding: 0;
  background-color: rgb(130, 120, 147);
  color: rgba(255, 222, 173, 0.527);
}

h1 {
  color: rgb(8, 51, 11);
}

figure {
  max-width: 80%;
  text-align: center;
}

img {
  max-width: 80%;
}

figcaption {
  font-size: small;
}